html {
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow-x: hidden;
}
body {
    margin: 0;
}
.first {
    background-image: url("../img/resize.jpg");
}
.layer_2 {
    background-color: rgba(255, 127, 0, 0.9);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}
h1 {
    margin: 10px;
    font-size: 3em;
}
.nav_right {
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    width: 30vw;
}
article {
    width: 100vw;
    height: 100vh;
}
.inf_txt {
    width: 40vw;
}
p {
    font-size: 1.2em;
}
.img {
    width: 40vw;
    height: 30vw;
    background-color: WHITE;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
.second {
    background-image: url("../img/resize.jpg");
}
.layer_2_2nd {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100vh;
    width: 100vw;
}
.txt_col {
    color: black;
}
.our_buisness {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}
.round_img {
    background-color: orange;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#round1 {
    position: relative;
    top: 10px;
    right: 150px;
}
#round2 {
    position: relative;
    top: 50px;
    right: 10px;
}
#round3 {
    position: relative;
    top: 40px;
    right: 300px;
}
#round4 {
    position: relative;
    top: 40px;
    right: 50px;
}
.third {
    background-image: url("../img/resize.jpg");
}
.layer_2_3rd {
    background-color: rgba(255, 127, 0, 0.5);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} 
.big_img {
    width: 60vw;
    height: 40vw;
    background-color: white;
}