html {
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow-x: hidden;
}
body {
    margin: 0;
}
.first {
    background-image: url("../img/resize.jpg");
}
.layer_2 {
    background-color: rgba(248, 124, 31, 0.90);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}
a {
 text-decoration: none;
 color: white;
}
.button {
    width: 20vw;
    background-color: #ab5d1a;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
}
.link_size {
    font-size: 1.2em;
    font-weight: bolder;
}
h1 {
    margin: 10px;
    font-size: 3em;
}
h2 {
    font-size: 2.7em;
    line-height: 0;
    font-weight: 800;
}
.nav_right {
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    width: 30vw;
}
article {
    width: 100vw;
    height: 100vh;
}
.inf_txt {
    width: 40vw;
}
p {
    font-size: 1.1em;
}
.img {
    width: 40vw;
    height: 30vw;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
.second {
    background-image: url("../img/bg3.jpg");
    background-size: 100vw, 100vh;
}
.layer_2_2nd {
    background-color: rgba(221, 221, 221, 0.4);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center
}
.txt_col {
    color: black;
}
.line_height {
    line-height: 2;
}
.paragraph {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-box-shadow: -46px 0px 0px -40px rgba(240,151,69,1);
    -moz-box-shadow: -46px 0px 0px -40px rgba(240,151,69,1);
    box-shadow: -46px 0px 0px -40px rgba(240,151,69,1);
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px; 
}
.our_buisness {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 80vw;
}
.workers {
    width: 40vw;
}
.round_img {
    background-color: orange;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#round1 {
    position: relative;
    top: 10px;
    left: 300px;
    transform: scale(1.5,1.5);
}
#round2 {
    position: relative;
    top: 50px;
    left: 100px;
    transform: scale(1.1, 1.1);
}
#round3 {
    position: relative;
    top: 40px;
    left: 450px;
    transform: scale(1.3, 1.3);
    
}
#round4 {
    position: relative;
    top: 40px;
    left: 200px;
}
.third {
    background-image: url("../img/bg4.jpg");
}
.layer_2_3rd {
    background-color: rgba(216, 216, 216, 0.5);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} 
.big_img {
    width: 60vw;
    height: 40vw;
}
.sizing {
    width: 60vw;
}
.centered_text {
    text-align: center;
    width: 45vw;
}